<div class="col-4">
    <div class="row">
        <div class="col-12">
            <h2>{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Role: {{ role }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <p>Id: {{ id }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Email: {{ email }}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <p>School: {{ school }}</p>
                </div>
            </div>
        </div>
    </div>

</div>