<div class="col-4">
    <div class="row">
        <div class="col-12">
            <h2>{{ name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>{{ role }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <p>{{ id }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>{{ email }}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <p>{{ officeNumber }}</p>
                </div>
            </div>
        </div>
    </div>

</div>